.footer-section{

    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F4F4F8;
    text-align: center;
    align-items: flex-end;
    

}

.footer{
  
    background: #000052;
    width: 100%;
   min-height:50vh;
   text-align: left;
   color: #F4F4F8;
   
}
.rights{
    margin-top: 5px;
    max-width: 30%;
    height: 30vh;
    color: #F4F4F8;
    filter: opacity(50%);
    margin: 2%;
    padding-right: 0%;
    
}
.rights h4{
    color: #F4F4F8;
    margin-top: 0 ;
    margin-bottom: 0;
    margin: 2%;
    
    
}
.overview{
    border-left: 0.5px solid #f8f8f8;
    max-width: 10%;
    color: #D90429;
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    font-weight: 250;
    margin: 2%;
    padding-right: 30%;
}

.footer ul {
    margin-top: 20%;
    padding: 0%;
 
    
}

.footer ul li{
    padding: 0%;
    list-style: none;
    font-style: normal;
    font-family:Arial, Helvetica, sans-serif;
    color: #F4F4F8;
  
}
.footer ul li a{
    text-decoration: none;
    color: #F4F4F8;
    

}
.footer ul li a:hover{

    color: #D90429;

}

.contact{
    border-left: 0.5px solid #f8f8f8;
    color: #D90429;
    font-weight: 250;
    font-family: 'Open Sans', sans-serif;
    max-width: 10%;
    margin: 2%;
}
.container-fluid{
    margin-top: 2%;
    text-align: left;
}

@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
.logo{
    font-family: 'Dongle', sans-serif;
    font-size: 45px;
    color:#D90429 ;
    margin-bottom: 0;


}

.footer-Container{
    padding: 0%;
}
.footerRow{
    padding: 0;
}


