@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

#logo{
    font-family: 'Dongle', sans-serif;
    color: #D90429;
    font-size: 40px;

}
#navavatar{
    width: 40px;
    height: 40px;
}