@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
body{
    background-color: #F4F4F8;
}

#content{
    background-color: #E5E5E5;

width: 100%;
height: inherit;
border-radius: 20px;
padding: 10px;
margin: 0;
align-items: center;
}
#contentContainer{
    padding: 0%;
}
#contentCol{
    margin: 0 0;
    padding-right: 0;
    
}

#gridContainer{
    margin: 0px 0px;
    padding: 0px;
    
}
#navCol{
    padding: 0%;
}
#sidebarCol{
    padding: 0%;
    width: 20%;
}

#dashboardH2{
margin-left: 2%;
margin-top: 2%;
font-family: 'Open Sans', sans-serif;
font-style: 'normal';
font-size: 29px;
color: #D90429;
}

