@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600");


.main {
    background-color: #F4F4F8;
    height: 100%;
    width: 100%;
}

.main * {
    font-family: "Open Sans", Helvetica;
}

.header {
    color: #D90429;
    margin-left: 50px;
    margin-top: 20px;
    font-weight: bold;
}

.btn {
    display: block;
    text-align: left !important;

    width: 100%;
    color: grey !important;
    justify-content: left !important;
    text-transform: none !important;


}

.btn.active {
    color: black !important;
}

.btn.top {
    max-width: 122px !important;
    color: #D90429 !important;
    font-size: 12px;
    font-weight: bold;
    border: none !important;
    text-transform: none !important;
}

.btn.arrow {
    color: #D90429 !important;
    padding-left: 10px !important;
    font-weight: bold;
    border: none !important;
    text-transform: none !important;
}

.btn>* {

    display: inline-block;
    text-transform: none !important;
}

.container {
    display: inline-block;
    height: 38%;
    vertical-align: top;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 15px !important;
}

.sidebarBtn {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    text-transform: none !important;
    padding-left: 30px !important;
}

.sidebar {
    width: 20%;
    padding-top: 60px;
}

.content {
    width: 70%;
    margin-left: 10px !important;
}

.profileDiv {
    margin-top: 50;
    margin-left: 50;
  
}
 .addButton{
    background:#D90429 !important;
    color:white !important;
    text-transform: none !important;
    font-size: 12px !important;
    margin-bottom: 10px !important;
 }
  .cardButton{
      font-size: 10px !important;
      margin: 5px !important;
      border-radius: 10px !important;
      text-transform: none !important;
  }



@media (max-width: 760px) {
    .hideText {
        display: none;
    }

    .sidebar {
        max-width: 76px;
        margin-left: 15px;
    }
    .profileDiv {
      font-size: smaller;
      
    }

}